/* mat-card{
  width: 60%;
  margin:auto
} */

textarea {
  width:100%;
}

mat-form-field{
  width: 100%;
}

mat-spinner {
  margin:auto;
}

/* isto ko i .sakrij ispod */
input[type='file'] {
  visibility: hidden;
}

/* ili !! */

/* .sakrij {
  visibility: hidden;
} */


