<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="postaUlazna.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let data of postaUlazna">

    <mat-expansion-panel-header>
      {{ data.title}}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="data.imagePath" [alt]="data.title">
    </div>
    <mat-panel-description>
      {{ data.content}}
    </mat-panel-description>

    <mat-action-row *ngIf="isLogin && trenutnoLogiranKorisnikId === data.creator">
      <a mat-button color="primary" [routerLink]="['/edit', data.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(data.id)" >DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalPost"
              [pageSize]="postPerPage"
              [pageSizeOptions]="pageSizeOptions"
              (page)="onChangePage($event)">
</mat-paginator>

<p class="info mat-body-1" *ngIf="postaUlazna.length <= 0">Jos nema podataka</p>
