<mat-accordion multi="true" *ngIf="postaUlazna.length >0">
  <mat-expansion-panel *ngFor="let data of postaUlazna">

    <mat-expansion-panel-header>
      {{ data.title}}
    </mat-expansion-panel-header>

    <mat-panel-description>
      {{ data.content}}
    </mat-panel-description>

    <mat-action-row>
      <button mat-button color="primary">EDIT</button>
      <button mat-button color="warn" (click)="onDelete(data.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<p class="info mat-body-1" *ngIf="postaUlazna.length <= 0">Jos nema podataka</p>
